  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>You really sure you wanna do this, chief?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="/products/destroy/{{productkey}}" method="post" class="aa-subscribe-form">
              <button>Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>