<!-- Temporarily using 'myaccount' classes for styling
TO-DO: create new 'myproduct' type of classes -->
<section id="aa-myaccount">
   <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">         
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>{{title}}</h4>
                                <form action="" method="POST" class="aa-login-form">
                                    <label for="">Name<span>*</span></label>
                                    <input type="text" placeholder="Name">
                                    <label for="">Price (zł)<span>*</span></label>
                                    <input type="text" placeholder="0.00">
                                    <label for="">Category<span>*</span></label>
                                    <input type="text" placeholder="Category">
                                    <label for="">Description</label>
                                    <textarea name="" id=""></textarea>
                                    <button type="submit" class="aa-browse-btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
   </div>
</section>