<!-- temporary register view without all the user details -->
<section id="aa-myaccount">
   <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">         
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">                 
                                <h4>Register</h4>
                                <form action="/users/register" method="POST" class="aa-login-form">
                                    <label for="">Username<span>*</span></label>
                                    <input type="text" placeholder="Username">
                                    <label for="">Password<span>*</span></label>
                                    <input type="password" placeholder="Password">
                                    <button type="submit" class="aa-browse-btn">Register</button>                    
                                </form>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
   </div>
</section>