<!-- temporary register view without all the user details -->
<section id="aa-myaccount">
   <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">         
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">                 
                                <h4>Register</h4>
                                <form action="/users/register" method="POST" class="aa-login-form">
                                    <label for="">Username<span>*</span></label>
                                    <input type="text" placeholder="Username" name="username" required>
                                    <label for="">Password<span>*</span></label>
                                    <input type="password" placeholder="Password" name="password" required>
                                    <label for="">Given Name<span>*</span></label>
                                    <input type="text" placeholder="Given Name" name="givenName" required>
                                    <label for="">Family Name<span>*</span></label>
                                    <input type="text" placeholder="Family Name" name="familyName" required>
                                    <label for="">Middle Name</label>
                                    <input type="text" placeholder="Middle Name" name="middleName">
                                    <label for="">Provider</label>
                                    <input type="text" placeholder="Provider" name="provider">
                                    <label for="">Email</label>
                                    <input type="text" placeholder="Email" name="email">
                                    <label for="">Images</label>
                                    <input type="text" placeholder="I don't think we're gonna use it, chief" name="images">
                                    <button type="submit" class="aa-browse-btn">Register</button>                    
                                </form>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
   </div>
</section>