<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div className="container-fluid">
    <div class="row">
      <div class="col bg-dark text-white">
        <div class="navbar-brand p-3">SIMPLE STORE</div>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-3">
        tu będą kiedyś kategorie
      </div>
      <div class="col-9 p-2">
        {{{body}}}
      </div>
    </div>
  </div>


<script src="/js/cart.js"></script>
</body>
</html>