<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/theme-color/pink-theme.css" id="switcher" >
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand p-3" href="/products">SIMPLE STORE</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <!-- cart box -->
                    <div class="nav-item d-flex align-items-center">
                        <div>
                            <a class="btn btn-sm btn-secondary navbar-btn" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </div>
                        <div class="d-flex flex-column ml-3">
                        {{# if cart.lines.length }}
                            <small class="navbar-text">
                                <b>Your cart:</b>
                            </small>
                            <small class="navbar-text">
                                {{cart.totalQuantity}} item(s)
                                {{cart.totalValue}} zł
                            </small>
                        {{/if}}
                        </div>
                        
                    </div>
                    <!-- / cart box -->
                </li>
            </ul>
        </div>
    </nav>

    <div className="container-fluid"></div>
        <div class="row p-1">
            {{{body}}}
        </div>
    </div>


<script src="/js/cart.js"></script>
</body>
</html>