{{#each productlist}}
<div class="card m-1 p-1 bg-light">
    <div class="bg-faded p-1">
        <h4>
            [{{category}}]:{{name}}
            <span class="badge badge-pill badge-primary float-right">
                <small>{{price}} zł</small>
            </span>
        </h4>
    </div>
    <div class="card-text bg-white p-1">
        {{description}}
        <button class="btn btn-success btn-sm float-right">
            Add To Cart
        </button>
    </div>
</div>
{{/each}}

<div class="btn-group pull-right m-1">
    <...>
</div>